.logo-text {
    color: #004A99 !important;
}

.toggle-icon {
    color: #004A99 !important;
}

.topbar {
    background-color: #004A99 !important;
}

.user-box{
    background-color: #fff !important;
    border-radius: 2px;
}

.page-content {
    padding: 1rem !important;
}

table {
    font-size: 13px;
}