@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
:root
{
	--primary: #004A99;
    --secondary: #DFDFDE;
    --blue: #22577E;
	--white: #FAF5E4;
}

body{
    min-height: 100vh;
    background: var(--secondary);
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.nav-bar
{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 230px;
    background: var(--primary);
    box-shadow: 12px 0 0 var(--white);
    border-left: 10px solid var(--primary);
    overflow-y: scroll;
    scrollbar-width: none;
    transition: width 0.5s;
}

.nav-bar.active
{
    width: 70px;
}

.nav-bar ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    padding-left: 5px;
    padding-top: 10px;
}

.nav-bar ul li
{
    position: relative;
    list-style: none;
    width: 100%;
}

.nav-bar ul li.active
{
    background: var(--white);
    list-style: none;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-bar ul li.active a::before
{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--white);
}

.nav-bar ul li.active a::after
{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--white);
}

.nav-bar ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.nav-bar ul li.active a
{
	color: var(--blue);
}

.nav-bar ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 45px;
    left: -5px;
    line-height: 45px;
    text-align: center;
}

.nav-bar ul li a .icon i
{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.nav-bar ul li a .title
{
    position: relative;
    display: block;
    left: -10px;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
}
/* end nav-bar */

.toggle
{
	/* position: absolute; */
	width: 50px;
	height: 50px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	font-size: 1.5em;
	cursor: pointer;
}
.toggle:hover
{
	font-size: 1.8em;
}

.main-content
{
    position: relative;
	width: calc(100% - 247px);
	left: 242px;
	top: 60px;
    padding: 10px;
	border-radius: 10px;
	background: var(--secondary);
	transition: 0.5s;
}

.main-content.active
{
    position: absolute;
	width: calc(100% - 87px);
    left: 82px;
}

/* end main */

/*responsive*/
@media (max-width: 500px)
{
	.nav-bar
	{
		width: 70px;
	}
	.nav-bar.active
	{
		width: 230px;
	}

    .menu-title
	{
		left: 133px;
	}
	.menu-title.active
	{
		left: 283px;
	}

	.main-content
	{
		left: 83px;
        width: calc(100% - 83px);
	}
	.main-content.active
	{
		left: 243px;
	}
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.menu-bar
{
	position: fixed;
	z-index: 1;
	left: 242px;
	top: 0px;
	height: 60px;
	color: var(--white);
	background: var(--primary);
    box-shadow: 0 5px 10px -5px rgba(41, 42, 43, 0.5);
	transition: all 0.5s;
}

.menu-bar.active
{
	left: 82px;
}

@media (max-width: 500px)
{
    .menu-bar
	{
		left: 83px;
	}
	.menu-bar.active
	{
		left: 243px;
	}
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    z-index: 9999;
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 20px;
    font-family: "Signika Negative", sans-serif;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #007bff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    font-size: 14px;
    text-transform: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #007bff;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    z-index: 9999;
    color: #283d50;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(23, 35, 46, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #004289;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #007bff;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #007bff;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}